article {
  display: flex;
  gap: 8px;
  flex-direction: row;
}

article > section {
  max-width: 100%;
  min-width: 50px; /* remplace la valeur "auto" 
  pour s'assurer que tout block de contenu a une valeur minimale réelle
  Sinon la largeur de l'image peut écraser le formulaire à coté */
}

.full-width {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.listing-card {
  overflow: hidden;
}

.listing-card img {
  flex: 1;
  object-fit: cover;
}

.listing-location::before {
  content: url('/public/location-pin.svg') / '';
}
.listing-location {
  font-size: 24pt;
  margin-bottom: 15px;
}
.listing-features > .section-heading {
  font-size: 24pt;
  margin-bottom: 15px;
}
.listing-features {
  margin-bottom: 20px;
}
.listing-features li {
  font-size: 14pt;
}
li {
  list-style-type: none;
}
.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

@media (min-width: 801px) {
  .listing-card  {
    flex: 1 1 0;
    overflow: hidden;
  }
  article > section {
    flex: 1 1 450px;
  }
}

@media (max-width: 800px) {
  article {
    flex-direction: column;
  }
}