<section>
  <form class="form" (ngSubmit)="search(filter.value)">
    <mat-form-field class="full-width">
      <mat-label>Filter by city</mat-label>
      <input
        matInput
        type="text"
        placeholder="Filter by city"
        #filter
        [value]="currentFilter"
        autofocus
      />
    </mat-form-field>

    <button
      matButton="elevated"
      class="primary"
      type="submit">
      Search
    </button>

    <button
      matButton="outlined"
      type="button"
      (click)="reset(); filter.value = ''">
      Reset
    </button>
  </form>
</section>

<section>
  <p>{{ filteredLocationList.length }} résultat(s)</p>
</section>

<section class="results">
  @for (housingLocation of filteredLocationList; track $index) {
    <app-housing-location
      [housingLocation]="housingLocation"
      (detailsClick)="handleLocationClicked($event)">
    </app-housing-location>
  }
</section>
