.auth-section {
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full-width {
  width: 100%;
}

#error {
  background-color: pink;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  color: darkred;
}