<section class="auth-section">

  <h2>Se connecter</h2>

  <form (submit)="handleSubmit(usernameInput.value, passwordInput.value)">
        @if (error()) {
            <div id="error">
                {{ error() }}
            </div>
        }

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input #usernameInput matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input #passwordInput matInput type="password">
    </mat-form-field>

    <div id="buttons">
      <!-- <button matButton color="primary" type="submit">Se connecter</button> -->
      <button matButton color="primary">Se connecter</button>
      <p>Pas encore inscrit ? <a [routerLink]="['/register']">Créer un compte</a></p>
    </div>
  
  </form>


</section>
