#layout {
       display: flex;
       gap: 32px;
       justify-content: space-between;
    }

    #inputs {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #photo {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 600px;
        width: 50%;
    }

    #photo img {
        object-fit: cover;
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }

    .small-inputs {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .mdc-label {
        color: black;
    }

    .buttons-all {
        display: flex;
        justify-content: space-between;
    }
    .buttons-right {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    @media (max-width: 890px) {
        #layout {
            flex-direction: column-reverse;
            gap: 0px;
        }

        #photo {
            width: 100%;
            height: 300px;
        }
    }