<h1>Location</h1>
    <form>
        <div id="layout">
            <div id="inputs">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput>
                </mat-form-field>

                <div class="small-inputs">
                    <mat-form-field appearance="outline">
                        <mat-label>Units</mat-label>
                        <input matInput type="number">
                    </mat-form-field>

                    <mat-checkbox>Wifi</mat-checkbox>

                    <mat-checkbox>Laundry</mat-checkbox>
                </div>

                <div class="buttons-all">

                    <button mat-button color="danger">Delete</button>

                    <div class="buttons-right">
                        <button mat-button>Cancel</button>
                        <button mat-flat-button>Save</button>
                    </div>

                </div>
            </div>

            <div id="photo">
                <img src="https://angular.dev/assets/images/tutorials/common/i-do-nothing-but-love-lAyXdl1-Wmc-unsplash.jpg">

                <mat-form-field appearance="outline">
                    <mat-label>Image URL</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </div>
    </form>