.listing-card {
  background: var(--accent-color);
  border-radius: 30px;
  padding: 0;            /* on tue le padding Material */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Image */
.listing-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

/* Titre */
.listing-card h2 {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
  margin: 0;
}

/* Localisation */
.listing-card p {
  padding: 10px 20px 20px 20px;
  margin: 0;
}

.listing-card p::before {
  content: url('/public/location-pin.svg') / '';
  margin-right: 6px;
}

/* Actions */
.listing-card mat-card-actions {
  padding-left: 20px;
  padding-bottom: 10px;
}

.listing-card a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.listing-card a::after {
  content: '\203A';
  margin-left: 5px;
}
