:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}
.brand-name {
  display: flex;           /* logo et bouton sur la même ligne */
  align-items: center;     /* aligne verticalement */
  justify-content: space-between; /* logo à gauche, bouton à droite */
}
