.listing-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listing-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.listing-card p {
  padding-top: 8px;
}

.listing-card p::before {
  content: url('/public/location-pin.svg') / '';
}

.listing-card mat-card-actions {
  align-self: flex-end;
}

.listing-card a::after {
  content: '\203A';
  margin-left: 5px;
}
